<div class="landing-content">
<div class="content-left">
  <div class="content-title-img"></div>
  <div class="swapper">
    <div class="title">
      <div class="Free-covid-19">
        Free COVID-19 Coverage for Hong Kong and Macau Citizens and Manulife
        Customers
      </div>
      <div class="standing-with-you">
        Standing with you against Novel Coronavirus
      </div>
      <div class="in-the-fight">
        In the fight against the Novel Coronavirus outbreak, Manulife is going
        one step further – we’re providing free protection for the community
        and our customers. From now until 30 Jun 2020, you can receive our
        Free COVID-19 Coverage* simply by completing your registration.
      </div>
    </div>

    <div class="content-list">
      <div class="terms">
        <img src="assets/images/covid/check.svg" class="check" alt="" />
        <div>Hospital cash benefit of HK$600 per day, up to 45 days</div>
      </div>
      <div class="terms">
        <img src="assets/images/covid/check.svg" class="check" alt="" />
        <div>
          Hospital cash benefit of HK$ 1,200 per day for ICU cases, up to 45
          days
        </div>
      </div>
      <div class="terms">
        <div>Quota: 500,000&nbsp;</div>
        <div>(Avaliable on a first-come-first-served basis)</div>
      </div>
    </div>

    <div class="submit-btn">
      <button mld-button class="pending">
        Register now
      </button>
    </div>

    <div class="time">
      <img src="assets/images/covid/Clock.svg" class="clock" />
      <div class="text">This will only take <span>about 5 mins.</span></div>
    </div>

    <div class="existing-customers">
      Existing customers with an Individual Financial Product and / or Group
      Medical Policy that includes hospitalization benefits do not need to
      register unless they want to register for their children (maximum two)
      who are below age 18 and living at the same address as the covered
      adult.
    </div>

    <div class="terms-and-conditions">
      *<span class="border">Terms and conditions</span> apply
    </div>
  </div>
</div>

<div class="content-right"></div>
</div>
